$c-foreground: #dedede;
$c-accent: #ffa014;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  width: inherit;
  height: inherit;
  font-family: 'rawline', sans-serif;

  #particles-js {
    width: inherit;
    height: inherit;
    background: #1c1c1c;
    position: absolute;
    z-index: -1;
  }
}

*::selection {
  background: $c-accent;
}

*::-moz-selection {
  background: $c-accent;
}

section.homepage {
  display: flex;
  width: inherit;
  height: inherit;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: $c-foreground;

  section.introduction {
    header {
      font-size: 3.5vw;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    article {
      display: flex;
      font-size: 1.5vw;
      letter-spacing: 10px;
      justify-content: center;
    }
  }

  section.navigation {
    .navigation__item {
      display: inline;
      text-decoration: none;
      color: inherit;
    }

    figure {
      color: $c-foreground;
      display: inherit;
      padding: 0 8px;
      margin: 0;
      vertical-align: middle;

      svg {
        margin-right: 10px;
      }

      figcaption {
        display: inherit;
        letter-spacing: .125vw;
        text-decoration: none;
      }
    }
  }
}

@media all and (max-width: 980px) {
  section.homepage {
    section.introduction {
      header {
        font-size: 5vw;
      }

      article {
        font-size: 2.5vw;
        letter-spacing: 5px;
      }
    }
  }

  section.navigation {
    figure {
      figcaption {
        font-size: 2.5vw;
      }
    }
  }
}

@media all and (max-width: 575px) {
  section.homepage {
    section.introduction {
      header {
        font-size: 9vw;
        line-height: 10vw;

        strong {
          font-size: 10vw;
        }
      }

      article {
        font-size: 4vw;
        letter-spacing: 2px;
        margin-top: 10px;
      }
    }

    section.navigation {
      .navigation__item {
        display: block;
      }

      figure {
        display: inline-block;
        padding: 3px 8px;

        figcaption {
          letter-spacing: .4vw;
          font-size: 4vw;
        }
      }
    }
  }
}