@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "icons";
@import "rawline";

::selection {
  @apply bg-orange-500 text-black;
}

#particles-js {
  @apply bg-black absolute;
  z-index: -1;
}

#slogan {
  height: 24px;
}

pre, code, kbd, samp {
  @apply font-mono text-sm;
}

.hljs-keyword, .hljs-selector-tag, .hljs-section, .hljs-attribute, .hljs-name, .hljs-variable {
  @apply text-orange-500;
}

.h-1\/10 {
  height: 10vh;
}
