<template>
  <section class="homepage">
    <section class="introduction">
      <header>
        <strong>Sebastian</strong> Wróblewski
      </header>
      <article>
        {{ caption }}
        <caret/>
      </article>
    </section>

    <separator/>

    <section class="navigation">
      <div class="navigation__item">
        <figure>
          <font-awesome-icon icon="phone"></font-awesome-icon>
          <figcaption>512 789 463</figcaption>
        </figure>
      </div>

      <a class="navigation__item" href="mailto:kontakt@swroblewski.pl" target="_blank">
        <figure>
          <font-awesome-icon icon="envelope"></font-awesome-icon>
          <figcaption>kontakt@swroblewski.pl</figcaption>
        </figure>
      </a>

      <a class="navigation__item" href="https://gitlab.com/Kreyu" target="_blank">
        <figure>
          <font-awesome-icon :icon="['fab', 'gitlab']"></font-awesome-icon>
          <figcaption>Kreyu</figcaption>
        </figure>
      </a>

      <a class="navigation__item" href="https://telegram.me/Kreyu" target="_blank">
        <figure>
          <font-awesome-icon :icon="['fab', 'telegram-plane']"></font-awesome-icon>
          <figcaption>Kreyu</figcaption>
        </figure>
      </a>
    </section>
  </section>
</template>

<script>
  import Caret from '@/components/Caret'
  import Separator from '@/components/Separator'
  import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
  import captions from '@/misc/captions'

  export default {
    name: 'Homepage',
    components: { Caret, Separator, FontAwesomeIcon },
    data () {
      return {
        caption: captions.getRandom('homepage')
      }
    }
  }
</script>
