<template>
  <section class="homepage">
    <section class="introduction">
      <header>
        <strong>404</strong>
      </header>
      <article>
        {{ caption }}
        <caret/>
      </article>
    </section>

    <separator/>

    <section class="navigation">
      <router-link class="navigation__item" to="/">
        <figure>
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>
          <figcaption>Return to safety</figcaption>
        </figure>
      </router-link>
    </section>
  </section>
</template>

<script>
  import Caret from '@/components/Caret'
  import Separator from '@/components/Separator'
  import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
  import captions from '@/misc/captions'

  export default {
    name: 'NotFound',
    components: { Caret, Separator, FontAwesomeIcon },
    data () {
      return {
        caption: captions.getRandom('notFound')
      }
    }
  }
</script>
