<template>
  <section class="caret">
    <span>|</span>
  </section>
</template>

<script>
  export default {
    name: 'caret'
  }
</script>

<style lang="scss" scoped>
  section.caret {
    display: inline-flex;

    span {
      animation-name: blinker;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(1, 0, 0, 1);
      animation-duration: 1s;
      color: #dedede;
    }
  }

  @media all and (max-width: 575px) {
    section.caret {
      margin-left: 2px;
    }
  }

  @keyframes blinker {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
</style>
