<template>
  <section class="separator">
    <hr/>
  </section>
</template>

<script>
  export default {
    name: 'separator'
  }
</script>

<style lang="scss" scoped>
  section.separator {
    display: inline-flex;

    hr {
      width: 10vw;
      margin: 1.5vw 0;
      border: none;
      border-top: 2px solid #dedede;
    }
  }

  @media all and (max-width: 575px) {
    section.separator {
      hr {
        width: 25vw;
        margin-top: 20px;
        margin-bottom: 15px;
      }
    }
  }
</style>
