<template>
  <div id="app">
    <vue-particles
      color="#dedede"
      hoverMode="grab"
      shapeType="circle"
      linesColor="#dedede"
      :particleOpacity="0.4"
      :particlesNumber="20"
      :particleSize="3"
      :linesWidth="1"
      :lineLinked="true"
      :lineOpacity="0.25"
      :linesDistance="150"
      :clickEffect="false"
      :hoverEffect="false"
      :moveSpeed="3"
    />
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }
</script>

<style lang="scss" src="@/assets/scss/main.scss"></style>
